<!doctype html>
<html class="no-js" lang="en">
<head>
<img src=/img/download.png>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>The CMUQ Database | Hello </title>
<link rel="stylesheet" href="css/foundation.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
	<body>
		<h1> At the request of Dean Selma we have made this database to simplify records and make it easier to view the student database.</h1>
		
		<%= yield %> 
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/what-input.min.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>