<form action="/students" method="post">
	<div class="row">
		<div class="large-6 columns">
			<div class="row collapse prefix-radius">
			<div class="small-3 columns">
					<span class="prefix">Student ID  </span>
					<input type="text" name="andrewid" ><br/>
				</div>
				<div class="small-3 columns">
					<span class="prefix">Student First Name</span>
					<input type="text" name="firstname" ><br/>
				</div>
				<div class="small-3 columns">
					<span class="prefix">Student Last Name</span>
					<input type="text" name="lastname" ><br/>
				</div>	
				<div class="small-3 columns">
					<span class="prefix">Student major</span>
					<input type="text" name="major" ><br/>
				</div>
				<div class="small-3 columns">
					<span class="prefix">Student email</span>
					<input type="text" name="email" ><br/>
				</div>	
				<div class="small-3 columns">
					<span class="prefix">Is the student a graduate?(yes or no)</span>
					<input type="text" name="graduate" ><br/>
				</div>
			</div>
		</div>
	<input type="submit" class="button" value="Submit">
	</div>
</form>
